{% extends 'base/index.html' %}

{% block contenido %}
<div class="container">
  <div class="row justify-content-center align-items-center" style="height: 50vh;">
    <div class="col-lg-6 col-md-8 col-sm-12">
      <div class="card card-dark">
        <div class="card-header text-center">
          <h3>¡Correo de recuperación enviado!</h3>
        </div>
        <div class="card-body text-center">
          <div class="text-center">
            <p>Se ha enviado un correo electrónico con instrucciones para restablecer su contraseña.</p>
          </div>
          <hr>
          <a href="{% url 'accounts:login' %}" class="btn btn-primary">Volver al Login</a>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock contenido %}