{% extends 'base/index.html' %}
{% load widget_tweaks %}

{% block title %}

Restablecer Contraseña | {{ block.super }}

{% endblock title %}
{% block contenido %}
<div class="container">
  <div class="row justify-content-center align-items-center" style="height: 70vh;">
    <div class="col-lg-6 col-md-8 col-sm-12">
      <div class="card card-dark">
        <div class="card-header text-center">
          <h3>Restablecer Contraseña</h3>
          {% for error in form.non_field_errors %}
          <div class='alert alert-danger'>
            {{ error }}
          </div>
          {% endfor %}
        </div>
        <div class="card-body">
          <form class="form-horizontal" method="post">
            {% csrf_token %}
            <fieldset>
              {% for field in form %}
              <div class="form-group{% if field.errors %} has-error{% endif %}">
                <label for="{{ field.auto_id }}" class="col-sm-12 control-label">{{ field.label }}</label>
                <div class="col-md-12">
                  {% render_field field class='form-control' %}
                  {% for error in field.errors %}
                  <span class="help-block">{{ error }}</span>
                  {% endfor %}
                </div>
              </div>
              {% endfor %}
              <hr>
              <div class="form-group text-center mb-0">
                <div class="col-12">
                  <button type="submit" class="btn btn-dark btn-block"> Confirmar </button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock contenido %}