{% extends 'base/base_modulos.html' %}
<!-- Carga de archivos estaticos -->
{% load static %}
<!-- Para formularios -->
{% load widget_tweaks %}

{% block title %} Publicar Servicios {% endblock title %}

{% block contenido %}
<section id="servicios">

    <div class="container p-3 my-3 bg-light">
        <div class="row">
            <div class="col-md-7">
                <div class="card mt-2">
                    <div class="card-header">
                        <h1 class="text-center">Publicar Servicios</h1>
                    </div>
                </div>
                <hr>
                <div class="card-body card-block">
                    <form method="post" class="formu" id="formu" novalidate>{% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Publicar</button>
                    </form>
                </div>
            </div>

            <hr>
        </div>
    </div>

</section>
{% endblock contenido %}