{% if is_paginated %}
<div class="mt-3">
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page=1{% if query %}&{{ query }}{% endif %}" aria-label="Primero">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Primero</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if query %}&{{ query }}{% endif %}" aria-label="Anterior">
            <span aria-hidden="true">&lsaquo;</span>
            <span class="sr-only">Anterior</span>
          </a>
        </li>
      {% endif %}
      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <li class="page-item"><a class="page-link" href="?page={{ num }}{% if query %}&{{ query }}{% endif %}">{{ num }}</a></li>
        {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if query %}&{{ query }}{% endif %}" aria-label="Siguiente">
            <span aria-hidden="true">&rsaquo;</span>
            <span class="sr-only">Siguiente</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% if query %}&{{ query }}{% endif %}" aria-label="Último">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Último</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
</div>
{% endif %}

