{% extends 'base/base_modulos.html' %}

{% load widget_tweaks %}

{% block title %} Cambiar Contraseña {% endblock %}

{% block contenido %}

<div class="col-lg-8 col-md-8 col-sm-12 mx-auto py-4">
  <div class="card card-dark">
    <div class="card-header">
      <h3 class="text-center">Cambiar Contraseña</h3>
    </div>
    <form method="post">
      {% csrf_token %}
      <div class="card-body">
        {% for field in form %}
        <div class="form-group{% if field.errors %} has-error{% endif %}">
          <label for="{{ field.auto_id }}" class="col-md-6 control-label">
            {{ field.label }}
          </label>
          <div class="col-md-12">
            {% render_field field class='form-control' %}
            {% for error in field.errors %}
            <span class="help-block" style="color: red;">{{ error }}</span>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="card-footer">
        <button type="submit" class="btn-block btn btn-dark">Guardar</button>
      </div>
    </form>
  </div>
</div>
{% endblock contenido %}