{% extends 'base/base_modulos.html' %}
{% load widget_tweaks %}




{% block contenido %}

  <div class="row justify-content-center align-items-center">
    <div class="col-lg-6 col-md-8 col-sm-12 pt-5">
      <div class="card card-dark">
        <div class="card-header text-center">
          <h3>Actualizar imagen de usuario</h3>
        </div>
        <div class="card-body">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group {% if form.email.errors %} has-error {% endif %}">
              <label for="{{form.email.auto_id }}" class="col-md-12 control-label">{{ form.email.label_tag }}</label>
              <div class="col-12">
                {% render_field form.image class='form-control' placeholder='Agregue una imagen'%}
              </div>
            </div>
            <hr>
            <div class="form-group mt-3">
              <div class="text-center">
                <button type="submit" class="btn btn-primary">Guardar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>







{% endblock contenido %}